/* @theme custom */

@import 'default';

section.split {
  overflow: visible;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "slideheading slideheading"
    "leftpanel rightpanel";
}

section.split .ldiv {
  grid-area: leftpanel;
}

section.split .rdiv {
  grid-area: rightpanel;
}

section.split2 {
  overflow: visible;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 10px;
  grid-template-areas:
    "leftpanel rightpanel";
}

section.split2 .ldiv {
  grid-area: leftpanel;
}

section.split2 .rdiv {
  grid-area: rightpanel;
}
