@import '~include-media/dist/include-media';
@import '~open-color/open-color';

//variable
$red: #fa5252;
$orange: orange;

//like function
@mixin square($size) {
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}